.image-container {
  display: flex;
  flex-direction: row;
  width: 1024px;
}

.knob-container {
  width: 100%;
  height: 80px;
}

canvas {
  width: 512px;
  height: 512px;
}

.pane {
  width: 512px;
  flex: 1 auto;
}